
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.head{
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 0.2rem;
    margin-bottom: 2.5rem;
}

.title-input,
.tags-input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.6rem;
    box-shadow: 0 0 0.2rem rgb(0, 0, 0, 0.4);
}

.media{
    width: 50%;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.editor{
    width: 50%;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.btn{
    width: 8.2rem;
    height: 2.8rem;
    border-radius: 2rem;
    background: rgba(0, 76, 255, 0.847);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 1rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.25s;
}

.btn:hover{
    color: white;
    background: rgba(0, 76, 255, 0.847);
    box-shadow: 0 0 0.06rem blue;
    transform: scale(1.04);
}





@media screen and (max-width:1000px) {
    .title-input, .tags-input, .media, .editor{
        width: 70%;
    }
}

@media screen and (max-width:800px) {
    .title-input, .tags-input, .media, .editor{
        width: 80%;
    }
}

@media screen and (max-width:650px) {
    .title-input, .tags-input, .media, .editor{
        width: 95%;
    }
    .head{
        font-size: 1.9rem;
    }
}

@media screen and (max-width:500px) {
    .media, .editor{
        width: 100%;
    }
    .title-input, .tags-input{
        width: 99%;
        font-size: 1.1rem;
    }
}
