body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: rgba(118, 62, 231, 0.397) #929292;
    scrollbar-base-color: rgba(118, 62, 231, 0.397);
    scrollbar-track-color: #929292;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #929292;
    /* Light grey */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #929292;
    /* Custom color */
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #929292;
    /* Darker shade */
}
