
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.Cards{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: 5rem;
}















/* Mobile: 1 row */
@media screen and (max-width: 820px) {
    .Cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
}
