/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

/* Card */
.card {
    width: 35rem;
    background: white;
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 20rem rgb(52, 164, 255);
    text-align: center;
}

/* Title */
.title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 3.5rem;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

/* Input Fields */
.input {
    width: 100%;
    padding: 1rem;
    border: 0.08rem solid #bbb;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    background: white;
    color: black;
    transition-property: all;
    transition-duration: 0.5s;
}

.input:focus {
    border: 0.09rem solid #000000;
    outline: none;
    box-shadow: 0 0 0.2rem rgb(127, 127, 127);
}

/* Password Container */
.passwordContainer {
    position: relative;
}

.eyeIcon {
    position: absolute;
    top: 50%;
    right: 0.6rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    transition: 0.3s;
}

.eyeIcon:hover {
    color: black;
}

/* Forgot Password */
.forgotPassword {
    text-align: right;
    font-size: 1rem;
}

.forgotPassword a {
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}

.forgotPassword a:hover {
    color: black;
    text-decoration: underline;
}

/* Button */
.button {
    background: black;
    color: white;
    padding: 0.9rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: #292929ef;
}



/* Toggle Link */
.toggle {
    margin-top: 0.3rem;
    color: rgb(108, 108, 108);
}

.toggleLink {
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.toggleLink:hover {
    text-decoration: underline;
}









@media screen and (max-width:650px) {
    .card{
        width: 95%;
    }
}

@media screen and (max-width:500px) {
    .card{
        width: 98%;
    }
}